.navbar {
  display: flex;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 25px;
  color: #deebf8;
  height: 91px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.dark.navbar {
  background-color: #21222a;
}
.reactFactsHeader {
  color: #61dafb;
  margin-right: auto;
  margin-left: 10px;
  font-weight: 700;
  font-size: 22px;
}
.reactLogo {
  width: 35px;
  height: 31px;
}
.toggle {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 110%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-Slider {
  width: 30px;
  height: 15px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin: 0px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 1s ease-in;
}
.dark.toggle .toggle-Slider {
  background-color: #f5f5f5;
  justify-content: flex-end;
  transition: all 1s ease-in;
}
.toggle-slider-circle {
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
  margin: 1px;
}
.dark.toggle .toggle-slider-circle {
  background-color: #222222;
}
